<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.welcome.registerapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SettingActivity"
            android:noHistory="true" ></activity>
        <activity android:name=".admin.Admin_authentication"
            android:noHistory="true"/>
        <activity android:name=".requirement.Tab3Activity"
            android:noHistory="true"/>
        <activity android:name=".authentication.phone_login_activity"
            android:noHistory="true"/>
        <activity android:name=".SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".WelcomeActivity"
            android:noHistory="true"/>
        <activity
            android:name=".installation.TabActivity"
            android:noHistory="true" />
        <activity
            android:name=".service.Tab2Activity"
            android:noHistory="true" />
        <activity android:name=".HomeActivity"

            />
        <activity
            android:name=".planner.PlannerActivity"
            android:noHistory="true" />
        <activity android:name=".LogoutActivity" />
        <activity
            android:name=".support.SupportActivity"
            android:noHistory="true" />
        <activity android:name=".database.add_installations" />
        <activity android:name=".authentication.VerifyPhoneActivity"
            />
    </application>

</manifest>